.container {
  padding: 3.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 0.3vw solid var(--accent);
}

.logo {
  position: relative;
  width: 6.5vw;
  height: 3vw;
}

.copyright {
  font-size: 1.5vw;
  color: hsl(0, 0%, 62%);
}

.copyright span {
  color: var(--secondAccent);
}

@media screen and (max-width: 767px) {
  .container {
    padding: 5vw;
    flex-direction: column;
    align-items: center;
    gap: 5vw;
    border-top: 0.8vw solid var(--accent);
  }
  .logo {
    width: 17vw;
    height: 8vw;
  }
  .copyright {
    font-size: 3vw;
  }
}
