.guarantees {
  width: 100%;
  padding: 3.5vw;
  background-color: #fdfbf8;
}

@media (width >= 768px) and (width <= 1024px) {
  .guaranteesContainer {
    display: none;
  }

  .guaranteesContainerMobile {
    display: block;
  }
}

@media (width <= 767px) {
  .guarantees {
    padding: 5vw;
  }

  .guaranteesContainer {
    display: none;
  }

  .guaranteesContainerMobile {
    display: block;
  }

  .topBlocks {
    border-bottom: 0.8vw solid var(--accent);
  }

  .divader {
    width: 0.8vw;
  }

  .flexBlock {
    border-bottom: 0.8vw solid var(--accent);
  }
}
