.guarantees {
  width: 100%;
  background-color: #fdfbf8;
  padding: 3.5vw;
}

.guaranteesContainer {
  padding: var(--wrapperPadding);
}

.topBlocks {
  border-bottom: 0.3vw solid var(--accent);
}

.topBlocks,
.bottomBlocks {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
}

.divader {
  width: 0.3vw;
  height: auto;
  background-color: var(--accent);
}
.title {
  font-family: "MariupolBold", sans-serif;
  color: #242424;
  font-size: 11vw;
  line-height: 1;
}

.subtitle {
  font-family: "MariupolMedium", sans-serif;
  font-size: var(--background);
  font-size: 2.5vw;
}

.guaranteesContainerMobile {
  padding-top: var(--wrapperPaddingMobile);
}

.guaranteesContainerMobile .flexBlock:last-child {
  border-bottom: none;
}

.flexBlock {
  display: flex;
  justify-content: center;
  align-items: stretch;
  border-bottom: 0.3vw solid var(--accent);
}

.blockMobile {
  padding: 1rem;
  white-space: nowrap;
}
.titleMobile {
  font-family: "MariupolBold", sans-serif;
  font-size: 20vw;
  line-height: 0.7;
}

.subtitleMobile {
  font-family: "MariupolMedium", sans-serif;

  font-size: 4vw;
  line-height: 1;
}

@media (min-width: 768px) and (max-width: 1279px) {
}

@media (max-width: 767px) {
  .guarantees {
    padding: 5vw;
  }

  .topBlocks {
    border-bottom: 0.8vw solid var(--accent);
  }
  .divader {
    width: 0.8vw;
  }
  .flexBlock {
    border-bottom: 0.8vw solid var(--accent);
  }
}
