.icon {
  width: 2vw;
  height: 2vw;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
  justify-self: end;
}

.icon__left,
.icon__right {
  display: inline-block;
  width: 1.4vw;
  height: 0.3vw;
  border-radius: 1vw;
  position: absolute;
  top: 0.8vw;
  background-color: black;
  transition: 0.5s;
}

.icon__left {
  left: -0.1vw;
  rotate: 45deg;
}

.icon__left.open {
  rotate: 135deg;
}

.icon__right {
  right: -0.1vw;
  rotate: -45deg;
}

.icon__right.open {
  rotate: -135deg;
}

@media (width <= 767px) {
  .icon {
    width: 6vw;
    height: 6vw;
  }

  .icon__left,
  .icon__right {
    width: 4vw;
    height: 0.7vw;
    border-radius: 1vw;
    top: 3vw;
  }

  .icon__left {
    left: -0.25vw;
  }

  .icon__left.open {
    rotate: 135deg;
  }

  .icon__right {
    right: -0.25vw;
  }
}
