.container {
  width: 100%;
  padding: 3.5vw;
  background-color: white;
}

.servicesWrapper {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  padding-top: var(--wrapperPadding);
  position: relative;
}

.content {
  flex: 1;
  max-width: 50%;
}

.title {
  margin-bottom: 1vw;
  font-family: MariupolMedium, sans-serif;
  font-size: 2.5vw;
  font-weight: 400;
  line-height: 1;
}

.text {
  font-size: 1.5vw;
}

.contentListItem {
  margin-top: 0.5vw;
  margin-left: 1vw;
}

.contentListItem p {
  position: relative;
  font-family: MariupolMedium, sans-serif;
}

.contentListItem p::before {
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 0.1vw;
  position: absolute;
  top: 50%;
  left: -1vw;
  background-color: var(--background);
  content: "";
  transform: translateY(-50%);
}

.imageWrapper {
  flex: 1;
  width: 100%;
  position: relative;
}

.image {
  border-radius: 1vw;
  object-fit: cover;
}

@media (width >= 768px) and (width <= 1024px) {
  .servicesWrapper {
    flex-direction: column;
    gap: 7vw;
    padding-top: 7vw;
  }

  .servicesWrapper:nth-of-type(odd) {
    flex-direction: column-reverse;
  }

  .content {
    max-width: 100%;
  }

  .imageWrapper {
    min-height: 50vw;
  }

  .image {
    border-radius: 3vw;
  }

  .title {
    font-size: 5vw;
  }

  .text {
    font-size: 4vw;
  }

  .contentListItem {
    margin-top: 6vw;
    margin-left: 3vw;
  }

  .contentListItem p {
    position: relative;
    font-family: MariupolMedium, sans-serif;
  }

  .contentListItem p::before {
    width: 2vw;
    height: 2vw;
    border-radius: 0.5vw;
    top: 50%;
    left: -3vw;
  }
}

@media (width <= 767px) {
  .container {
    padding: 5vw;
  }

  .servicesWrapper {
    flex-direction: column;
    gap: var(--wrapperPaddingMobile);
    padding-top: var(--wrapperPaddingMobile);
  }

  .servicesWrapper:nth-of-type(odd) {
    flex-direction: column-reverse;
  }

  .content {
    max-width: 100%;
  }

  .imageWrapper {
    min-height: 50vw;
  }

  .image {
    border-radius: 3vw;
  }

  .title {
    font-size: 4vw;
  }

  .text {
    font-size: 3vw;
  }

  .contentListItem {
    margin-top: 6vw;
    margin-left: 3vw;
  }

  .contentListItem p {
    position: relative;
    font-family: MariupolMedium, sans-serif;
  }

  .contentListItem p::before {
    width: 2vw;
    height: 2vw;
    border-radius: 0.5vw;
    top: 50%;
    left: -3vw;
  }
}
