.container {
  padding: 3.5vw;
}

.contacts {
  display: grid;
  gap: 3vw;
  grid-template-columns: repeat(2, 1fr);
  padding-top: var(--wrapperPadding);
}

.content {
  color: white;
  position: relative;
}
.title {
  font-size: 2.5vw;
  margin: 0px 0px 2.5vw 0px;
}

.contactsItems {
  display: flex;
  margin: 0px 0px 2.5vw 0px;
}

.contactsItemsWrapper {
  font-style: normal;
  font-size: 2vw;
  margin: 0px 0px 0px 1.7vw;
}

.contactsItemsTitle {
  margin: 0px 0px 1vw 0px;
}
.contactsItemsSubtitle {
  font-size: 1.5vw;
  color: grey;
}

.contactsItemsSubtitle:hover {
  color: white;
}

.socialList {
  display: flex;
  gap: 2vw;
  padding: 0 0 0 3.5vw;
  list-style: none;
}
.socialLink {
  color: black;
  position: relative;
  height: 3vw;
  width: 3vw;
  background: white;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.socialLink:hover {
  background: var(--secondAccent);
}

.socialImage,
.icon {
  height: 2vw;
  width: 2vw;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .container {
    padding: 4vw;
  }
  .contacts {
    grid-template-columns: 1fr;
    padding-top: var(--wrapperPaddingMobile);
  }
  .title {
    font-size: 4vw;
    margin: 0px 0px 3vw 0px;
  }
  .contactsItems {
    display: flex;
    margin: 0px 0px 3vw 0px;
  }
  .contactsItems:nth-child(3) {
    margin: 0px 0px 6vw 0px;
  }
  .contactsItems:nth-child(4) {
    margin: 0px 0px 6vw 0px;
  }

  .contactsItemsWrapper {
    font-size: 4vw;
    margin: 0px 0px 0px 4vw;
  }

  .contactsItemsTitle {
    margin: 0px 0px 2vw 0px;
  }
  .contactsItemsSubtitle {
    font-size: 3.5vw;
  }
  .contactsItemsSubtitle:hover {
    color: grey;
  }
  .socialList {
    gap: 5vw;
    padding: 0 0 0 3vw;
  }
  .socialLink {
    height: 8vw;
    width: 8vw;
  }

  .socialLink:hover {
    background: white;
  }

  .socialImage,
  .icon {
    height: 4vw;
    width: 4vw;
  }
  .socialList {
    width: 100%;
    justify-content: center;
    padding: unset;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 5vw;
  }
  .contacts {
    grid-template-columns: 1fr;
    padding-top: var(--wrapperPaddingMobile);
  }
  .title {
    font-size: 5vw;
    margin: 0px 0px 3vw 0px;
  }
  .contactsItems {
    display: flex;
    margin: 0px 0px 3vw 0px;
  }
  .contactsItems:nth-child(3) {
    margin: 0px 0px 10vw 0px;
  }
  .contactsItems:nth-child(4) {
    margin: 0px 0px 10vw 0px;
  }

  .contactsItemsWrapper {
    font-size: 6vw;
    margin: 0px 0px 0px 4vw;
  }

  .contactsItemsTitle {
    margin: 0px 0px 2vw 0px;
  }
  .contactsItemsSubtitle {
    font-size: 5vw;
  }
  .contactsItemsSubtitle:hover {
    color: grey;
  }
  .socialList {
    gap: 5vw;
    padding: 0 0 0 3vw;
  }
  .socialLink {
    height: 12vw;
    width: 12vw;
  }

  .socialLink:hover {
    background: white;
  }

  .socialImage,
  .icon {
    height: 7vw;
    width: 7vw;
  }
  .socialList {
    width: 100%;
    justify-content: center;
    padding: unset;
  }
}
