.container {
  width: 100%;
  padding: 2rem 3rem;
  color: white;
}

.aboutWrapper {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding-top: 2rem;
  position: relative;
}

.content {
  flex: 1;
  max-width: 50%;
}

.title {
  font-family: "MariupolRegular", sans-serif;
  font-weight: 400;
  font-size: 1.4vw;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.image {
  flex: 1;
  max-width: 50%;
  height: auto;
  object-fit: cover;
  object-position: center;
}
