.container {
  width: 100%;
  padding: 3.5vw;
  color: white;
}

.aboutWrapper {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding-top: 2rem;
  position: relative;
}

.content {
  flex: 1;
  max-width: 50%;
}

.title {
  font-family: "MariupolRegular", sans-serif;
  font-weight: 400;
  font-size: 1.4vw;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.image {
  flex: 1;
  max-width: 50%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .container {
    padding: 2rem;
  }
  .aboutWrapper {
    flex-direction: column;
  }
  .content {
    max-width: 100%;
  }
  .image {
    width: 100%;
    max-width: none;
    height: auto;
  }
  .title {
    font-size: 4vw;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 5vw;
  }
  .aboutWrapper {
    flex-direction: column;
  }
  .content {
    max-width: 100%;
  }
  .image {
    max-width: 100%;
  }
  .title {
    font-size: 5vw;
  }
}
