.container {
  width: 100%;
  padding: 3.5vw;
  color: white;
}

.aboutWrapper {
  display: flex;
  justify-content: space-between;
  gap: 3vw;
  padding-top: var(--wrapperPadding);
  position: relative;
}

.content {
  flex: 1;
  max-width: 50%;
}

.title {
  font-family: "MariupolRegular", sans-serif;
  font-size: 1.5vw;
  line-height: 1.2;
  margin-bottom: 1vw;
}

.image {
  flex: 1;
  max-width: 50%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 1vw;
}

.subtitle {
  font-family: "MariupolRegular", sans-serif;
  font-size: 1.5vw;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 1vw;
}

.contentList {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.contentListItem {
  margin-left: 1vw;
  position: relative;
  font-size: 1.3vw;
  line-height: 1.2;
}

.contentListItem span {
  font-family: "MariupolMedium", sans-serif;
  display: block;
}

.contentListItem::before {
  content: "";
  position: absolute;
  top: 0.8vw;
  left: -1vw;
  transform: translateY(-50%);
  width: 0.5vw;
  height: 0.5vw;
  background-color: var(--secondAccent);
  border-radius: 50%;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .aboutWrapper {
    flex-direction: column;
  }
  .content {
    max-width: 100%;
  }
  .image {
    width: 100%;
    max-width: none;
    height: auto;
    border-radius: 3vw;
  }
  .title {
    font-size: 4vw;
  }
  .subtitle {
    font-size: 4vw;
  }
  .contentList {
    gap: 3vw;
  }
  .contentListItem {
    position: relative;
    font-size: 3vw;
    line-height: 1.2;
    margin-left: 5vw;
  }

  .contentListItem::before {
    content: "";
    position: absolute;
    top: 2vw;
    left: -5vw;
    width: 2vw;
    height: 2vw;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 5vw;
  }
  .aboutWrapper {
    flex-direction: column;
    padding-top: var(--wrapperPaddingMobile);
  }
  .content {
    max-width: 100%;
  }
  .image {
    max-width: 100%;
    border-radius: 3vw;
  }
  .title {
    font-size: 5vw;
  }
  .subtitle {
    font-size: 5vw;
  }
  .contentList {
    gap: 3vw;
  }
  .contentListItem {
    position: relative;
    font-size: 4vw;
    line-height: 1.2;
    margin-left: 5vw;
  }

  .contentListItem::before {
    content: "";
    position: absolute;
    top: 2.5vw;
    left: -5vw;
    transform: translateY(-50%);
    width: 2vw;
    height: 2vw;
    background-color: var(--secondAccent);
    border-radius: 50%;
  }
}
