.container {
  background-color: white;
  padding: var(--wrapperPadding);
}

.calculatorWrapper {
  border: 2vw solid var(--accent);
  margin: var(--wrapperPadding) 0 0 0;
  position: relative;
}
.calculatorTitle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: "MariupolMedium", sans-serif;
  font-size: 2.5vw;
  white-space: nowrap;
  width: fit-content;
  text-align: center;
  padding: 2vw;
  background-color: var(--accent);
  color: white;
}

.bigDropDownsWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5vw;
}

.smallDropDownsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5vw;
}

.slidersWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5vw;
  row-gap: 2vw;
  padding: 3vw 3vw;
}

.dropDownsWrapper {
  padding: 10vw 3vw 0 3vw;
}

.sliderTitle {
  font-family: "MariupolMedium", sans-serif;
  font-size: 1.5vw;
}

.priceWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cost {
  padding: 2vw 2vw 0 2vw;
  width: 30vw;
  background-color: var(--accent);
  color: white;
  font-family: "MariupolBold", sans-serif;
  font-size: 4vw;
}

.rateContentWrapper {
  margin-left: 3vw;
}

.rate {
  font-family: "MariupolMedium", sans-serif;
  font-size: 1.5vw;
  margin-bottom: 1vw;
}

.rate span {
  color: red;
}

.rateText {
  font-size: 1vw;
  position: relative;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .calculatorTitle {
    font-size: 4vw;
  }
  .bigDropDownsWrapper {
    grid-template-columns: 1fr;
    gap: 3vw;
    margin-bottom: 3vw;
  }

  .smallDropDownsWrapper {
    grid-template-columns: 1fr;
    gap: 3vw;
    margin-bottom: 3vw;
  }
  .slidersWrapper {
    grid-template-columns: 1fr;
    row-gap: 1vw;
    padding: 3vw;
  }
  .dropDownsWrapper {
    padding: 15vw 3vw 0 3vw;
  }

  .sliderTitle {
    font-size: 3vw;
  }
  .priceWrapper {
    display: flex;
    flex-direction: column;
  }
  .cost {
    width: 100%;
    text-align: center;
    font-size: 5vw;
  }
  .rateContentWrapper {
    width: 100%;
    padding: 0 3vw 3vw 3vw;
  }

  .rate {
    font-size: 3vw;
    margin-bottom: 3vw;
  }

  .rateText {
    font-size: 2vw;
  }
}

@media (max-width: 767px) {
  .container {
    padding: var(--wrapperPaddingMobile);
  }
  .calculatorTitle {
    font-size: 5vw;
  }
  .bigDropDownsWrapper {
    grid-template-columns: 1fr;
    gap: 7vw;
    margin-bottom: 7vw;
  }

  .smallDropDownsWrapper {
    grid-template-columns: 1fr;
    gap: 7vw;
    margin-bottom: 7vw;
  }
  .slidersWrapper {
    grid-template-columns: 1fr;
    row-gap: 2vw;
    padding: 5vw;
  }
  .dropDownsWrapper {
    padding: 15vw 5vw 0 5vw;
  }

  .sliderTitle {
    font-size: 5vw;
  }
  .priceWrapper {
    display: flex;
    flex-direction: column;
  }
  .cost {
    width: 100%;
    text-align: center;
    font-size: 10vw;
  }
  .rateContentWrapper {
    margin: 0 5vw 5vw 5vw;
  }

  .rate {
    font-size: 4vw;
    margin-bottom: 3vw;
  }

  .rateText {
    font-size: 3vw;
  }
}
