.container {
  width: 100%;
  background-color: #fdfbf8;
  padding: 3.5vw;
}

.formWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
  padding: 3.5vw 2.5vw;
}

.input {
  font-family: "MariupolRegular", sans-serif;
  width: 100%;
  font-size: 2vw;
  border: none;
  background-color: transparent;
  border-bottom: 0.2vw solid var(--accent);
  padding: 0.6vw;
  margin-bottom: 1.5vw;
  outline: none;
  position: relative;
}
.input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #fcfbf7 inset !important; /* Білий фон */
  -webkit-text-fill-color: black !important; /* Колір тексту */
}

.label {
  position: relative;
  flex: 1;
}

.inputError {
  border-bottom: 0.2vw solid red;
}

.required::after {
  content: "*Обов'язкове поле";
  position: absolute;
  bottom: -0.5vw;
  left: 0;
  width: 100%;
  font-size: 1.3vw;
  color: red;
}

.required:nth-child(3):after {
  content: "*Обов'язкове поле. 10 цифр";
  position: absolute;
  bottom: -0.5vw;
  left: 0;
  width: 100%;
  font-size: 1.3vw;
  color: red;
}

.input::placeholder {
  font-family: "MariupolRegular", sans-serif;
  font-size: 2vw;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  gap: 86px;
  padding: 0 2.5vw;
}

.personalDataWrapper {
  display: flex;
  align-items: center;
  flex: 1;
}

.personalDataCheckbox {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-width: 2vw;
  min-height: 2vw;
  border: 0.2vw solid #c5c5c5;
  margin-right: 2vw;
}

.active {
  border: none;
}

.checked {
  width: 2vw;
  height: 2vw;
  color: white;
  background-color: var(--accent);
}

.personalDataText {
  font-size: 1.2vw;
}

.personalDataLink {
  text-decoration: underline;
  color: var(--accent);
  margin-left: 0.7vw;
}

.button {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  padding: 2vw 3vw;
  color: white;
  background-color: var(--accent);
  border: none;
  border-radius: 0.8vw;
  font-family: "MariupolMedium", sans-serif;
  font-size: 2.3vw;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #495ba3;
}
@media (min-width: 768px) and (max-width: 1279px) {
}

@media (max-width: 767px) {
  .container {
    padding: 5vw;
  }
  .formWrapper {
    flex-direction: column;
    padding: 2rem 0;
    gap: 1rem;
  }

  .personalDataCheckbox {
    position: relative;
    cursor: pointer;
    min-width: 5vw;
    min-height: 5vw;
    border: 0.5vw solid #c5c5c5;
    margin-right: 5vw;
  }
  .checked {
    width: 5vw;
    height: 5vw;
    color: white;
    background-color: var(--accent);
  }

  .active {
    border: none;
  }
  .personalDataText {
    font-size: 4vw;
  }

  .input {
    font-size: 1.2rem;
    border-bottom: 0.6vw solid var(--accent);
  }
  .input::placeholder {
    font-size: 1.2rem;
  }
  .required::after {
    bottom: -2.5vw;
    left: 0;
    font-size: 4vw;
  }
  .required:nth-child(3):after {
    bottom: -2.5vw;
    left: 0;
    font-size: 4vw;
  }
  .inputError {
    border-bottom: 0.6vw solid red;
  }
  .label {
    width: 100%;
  }
  .buttonWrapper {
    flex-direction: column;
    padding: 0;
    gap: 2rem;
  }
  .button {
    padding: 5vw 10vw;
    border-radius: 1.5vw;
    font-size: 5vw;
  }

  .button:hover {
    color: #feab3f;
  }
}
