.container {
  width: 100%;
  background-color: #fdfbf8;
  padding: 3.5vw;
}

.formWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3vw;
  padding: 3.5vw 2.5vw;
}

.input {
  font-family: "MariupolRegular", sans-serif;
  width: 100%;
  font-size: 2vw;
  border: none;
  background-color: transparent;
  border-bottom: 0.2vw solid var(--accent);
  padding: 0.6vw;
  margin-bottom: 1.5vw;
  outline: none;
  position: relative;
}
.input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #fcfbf7 inset !important; /* Білий фон */
  -webkit-text-fill-color: black !important; /* Колір тексту */
}

.label {
  position: relative;
  flex: 1;
}

.inputError {
  border-bottom: 0.2vw solid red;
}

.requiredSpan {
  position: absolute;
  bottom: -0.5vw;
  left: 0;
  width: 100%;
  font-size: 1.3vw;
  color: red;
}

.input::placeholder {
  font-family: "MariupolRegular", sans-serif;
  font-size: 2vw;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  gap: 86px;
  padding: 0 2.5vw;
}

.personalDataWrapper {
  display: flex;
  align-items: center;
  flex: 1;
}

.personalDataCheckbox {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-width: 2vw;
  min-height: 2vw;
  border: 0.2vw solid #c5c5c5;
  margin-right: 2vw;
}

.active {
  border: none;
}

.checked {
  width: 2vw;
  height: 2vw;
  color: white;
  background-color: var(--accent);
}

.checkboxRequire {
  border: 0.2vw solid red;
}

.textRequire {
  color: red;
}

.personalDataText {
  font-size: 1.2vw;
}

.personalDataLink {
  text-decoration: underline;
  color: var(--accent);
  margin-left: 0.7vw;
}

.button {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  padding: 2vw 3vw;
  color: white;
  background-color: var(--accent);
  border: none;
  border-radius: 0.8vw;
  font-family: "MariupolMedium", sans-serif;
  font-size: 2.3vw;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #495ba3;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .formWrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 5vw;
  }
  .input {
    font-size: 3vw;
  }
  .input::placeholder {
    font-size: 3vw;
  }
  .personalDataCheckbox {
    min-width: 3vw;
    min-height: 3vw;
    border: 0.3vw solid #c5c5c5;
  }
  .checkboxRequire {
    border: 0.3vw solid red;
  }
  .checked {
    width: 3vw;
    height: 3vw;
    color: white;
    background-color: var(--accent);
  }
  .active {
    border: none;
  }
  .personalDataText {
    font-size: 2.2vw;
  }
  .requiredSpan {
    bottom: -1.5vw;
    left: 0;
    font-size: 2vw;
  }
  .button:hover {
    background-color: var(--accent);
  }
}

@media (max-width: 767px) {
  .container {
    padding: 5vw;
  }
  .formWrapper {
    grid-template-columns: 1fr;
    padding: 7vw 0;
    gap: 10vw;
  }

  .personalDataCheckbox {
    min-width: 5vw;
    min-height: 5vw;
    border: 0.5vw solid #c5c5c5;
  }
  .checked {
    width: 5vw;
    height: 5vw;
    color: white;
    background-color: var(--accent);
  }

  .active {
    border: none;
  }
  .personalDataText {
    font-size: 4vw;
  }

  .input {
    font-size: 4vw;
    border-bottom: 0.6vw solid var(--accent);
  }
  .input::placeholder {
    font-size: 1.2rem;
  }

  .requiredSpan {
    bottom: -2.5vw;
    left: 0;
    font-size: 4vw;
  }
  .inputError {
    border-bottom: 0.6vw solid red;
  }
  .checkboxRequire {
    border: 0.5vw solid red;
  }
  .label {
    width: 100%;
  }
  .buttonWrapper {
    flex-direction: column;
    padding: 0;
    gap: 2rem;
  }
  .button {
    padding: 5vw 10vw;
    border-radius: 1.5vw;
    font-size: 5vw;
  }

  .button:hover {
    background-color: var(--accent);
  }
}
