.guaranteesContainerMobile {
  display: none;
  padding-top: var(--wrapperPaddingMobile);
}

.flexBlock {
  display: flex;
  align-items: stretch;
  justify-content: center;
  border-bottom: 0.3vw solid var(--accent);
}

.guaranteesContainerMobile .flexBlock:last-child {
  border-bottom: none;
}

.blockMobile {
  padding: 1rem;
  white-space: nowrap;
}

.titleMobile {
  font-family: MariupolBold, sans-serif;
  font-size: 20vw;
  line-height: 0.7;
}

.subtitleMobile {
  font-family: MariupolMedium, sans-serif;
  font-size: 4vw;
  line-height: 1;
}

.divader {
  width: 0.3vw;
  height: auto;
  background-color: var(--accent);
}

@media (width >= 768px) and (width <= 1024px) {
  .guaranteesContainer {
    display: none;
  }

  .guaranteesContainerMobile {
    display: block;
  }
}

@media (width <= 767px) {
  .guarantees {
    padding: 5vw;
  }

  .guaranteesContainer {
    display: none;
  }

  .guaranteesContainerMobile {
    display: block;
  }

  .topBlocks {
    border-bottom: 0.8vw solid var(--accent);
  }

  .divader {
    width: 0.8vw;
  }

  .flexBlock {
    border-bottom: 0.8vw solid var(--accent);
  }
}
