.projects {
  width: 100%;
  padding: 3rem;
}

.sliderContainer {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  overflow-x: hidden;
  margin: 2rem 0;
}

.projectsGallery {
  min-width: 100%;
  height: 50vh;
  display: flex;
  gap: 1rem;
}

.projectsCardGallary {
  border-radius: 0.75rem;
  cursor: pointer;
  flex: 1;
  overflow: hidden;
  transition: all 0.5s ease;
  filter: grayscale(100%) contrast(1.2);
  position: relative;
}

.projectsCard {
  border-radius: 0.75rem;
  height: 50vh;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s ease;
  filter: grayscale(100%) contrast(1.2);
  position: relative;
}

.projectsCardGallary img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projectsCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projectsCardGallary:hover {
  flex: 3;
  filter: grayscale(0%) contrast(1);
  z-index: 3;
}

.descriptionShadow {
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 200px;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  opacity: 0;
  transition: all 0.5s ease;
}

.descriptionWrapper {
  position: absolute;
  bottom: 0;
  left: 10px;
  opacity: 0;
  transition: all 0.5s ease;
  color: white;
}

.title {
  font-family: "MariupolBold", sans-serif;
  font-size: 1.7vw;
  line-height: 1.2;
}

.description {
  font-family: "MariupolRegular", sans-serif;
  font-size: 1.2vw;
}

.projectsCardGallary:hover .descriptionShadow {
  opacity: 1;
}

.projectsCardGallary:hover .descriptionWrapper {
  bottom: 10px;
  left: 10px;
  opacity: 1;
}

.buttonsWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navButton {
  cursor: pointer;
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dotList {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .projects {
    padding: 2rem;
  }
}

@media (max-width: 767px) {
  .projects {
    padding: 1.5rem;
  }
}
